<h1>Your Order :)</h1>

  <%= image_tag @product.picture, width: 120 if @product.picture.attached? %>


<h1>
  <strong>Name:</strong>
  <%= @product.name %>
</h1>

<h2>
  <strong>Price:</strong>
  $<%= @product.price %>
</h2>

<h3>
  <strong>In stock:</strong>
  <%= @product.supply %>
</h3>

<button id="pay-now">Checkout item</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  function redirectToStripe() {
    var stripe = Stripe('<%= Rails.application.credentials.dig(:stripe, :publishable_key)%>');
    stripe.redirectToCheckout({
    sessionId: '<%= @session.id %>'
      }).then(function (result) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer
        // using `result.error.message`.
      });
  }
  document.querySelector("#pay-now").addEventListener("click",
    redirectToStripe)
</script>
