<p id="notice"><%= notice %></p>

<h1>
  <%= @post.title%>
</h1>

<br>

<div class="card" style="width: 18rem;">

  <div class="card-body">
    <%= image_tag @post.picture, width: 120 if @post.picture.attached?%>
    <p><%= @post.user.email%></p>
    <p><%= @post.content%></p>
  </div>
</div>

<%if user_signed_in? && @post.user.id == current_user.id || current_user.has_role?(:admin)%>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
