<p id="notice"><%= notice %></p>

  <%= image_tag @product.picture, width: 120%>


<h1>
  <strong>Name:</strong>
  <%= @product.name %>
</h1>

<h2>
  <strong>Price:</strong>
  $<%= @product.price %>
</h2>

<h3>
  <strong>In stock:</strong>
  <%= @product.supply %>
</h3>

<%= link_to "Buy now", new_order_path(product_id: @product.id)%>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
